<nav>
    <ul>
        <li><a href="./list.html">List</a></li>
        <li><a href="./home.html">Home</a></li>
        <li><a href="./social.html">Social</a></li>
        <li><a href="./account.html">Account</a></li>
    </ul>
</nav>