<nav>
    <ul>
        <li>
            <a href="/list"
                >Lijst
                <img src="/images/list-icon.svg" alt="List pagina icoontje" />
            </a>
        </li>
        <li>
            <a href="/social"
                >Social
                <img
                    src="/images/social-icon.svg"
                    alt="Social pagina icoontje"
                />
            </a>
        </li>
        <li>
            <a href="/likes"
                >Likes
                <img src="/images/likes-icon.svg" alt="Likes pagina icoontje" />
            </a>
        </li>
    </ul>
</nav>
