<head>
    <%- include('../partials/head') %>
</head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h3><%= title %></h3>
            <p>De pagina die je hebt willen bezoeken is niet gevonden!</p>
            <p>Gebruik de navigatie opties onderaan de pagina om naar de juiste plekken te navigeren</p>
        </section> 
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>