<head>
    <%- include('../partials/head') %>
</head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h3>Festival zoeken</h3>
            <p>Vul je voorkeuren in</p>
        </section>
        <section>
            <form>
                <label for="genre">Muziekgenres</label> 
                <input type="text" id="genre" name="genre">
                <label for="artists">Artiesten</label> 
                <input type="text" id="artists" name="artists">
                <input type="radio" id="night" name="night">
                <label for="night">Dag</label>
                <input type="radio" id="day" name="day">
                <label for="day">Nacht</label>
                <input type="submit" id="submit" name="submit">
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>