<body>
    <head>
        <%- include('../partials/head') %>
    </head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="titlesection">
            <h3><%= title %></h3>
            <p>Zoek naar andere gebruikers op basis van je favoriete muziekgenre(s)</p>
        </section>
        <section>
            <form action="/socialresults" method="post">
                <label for="genres">Kies muziekgenres</label>
                <select id="genres" name="genres" size="1" multiple>
                    <option value="Techno">Techno</option>
                    <option value="House">House</option>
                    <option value="Hardstyle">Hardstyle</option>
                    <option value="Hardcore">Hardcore</option>
                    <option value="R&B">R&B</option>
                    <option value="Up-tempo">Up-tempo</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="Rock">Rock</option>
                    <option value="Reggae">Reggae</option>
                </select>
                <input type="submit" value="Zoeken">
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>