$font-stack: Helvetica, Arial, sans-serif;
$prim-backgr-color: #201030;
$sec-backgr-color: #d3d3d3;
$prim-button-color: #1160a3;
$sec-text-color: #fdfdfd;
$prim-style-and-title-color: #e08c46;
$sec-style-color: #a73534;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
}

main {
    width: 100%;
}

header {
    background-color: $prim-backgr-color;
    width: 100%;
    position: fixed;
    top: 0;
}

h1 {
    text-align: center;
    font-size: 32px;
    width: 100%;
    color: $prim-style-and-title-color;
    padding: 0.2em;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input:hover {
        border: 2px solid $prim-button-color;
        background-color: $sec-text-color;
        color: $prim-button-color;
        transition: 0.2s;
        padding: 0.4em;
        cursor: pointer;
    }

    input:focus {
        border: 2px solid $prim-button-color;
        background-color: $sec-text-color;
        color: $prim-button-color;
        transition: 0.2s;
        padding: 0.4em;
        cursor: pointer;
    }
    
    input:active {
        border: 2px solid $prim-button-color;
        background-color: $sec-backgr-color;
        color: $prim-button-color;
        transition: 0.2s;
        padding: 0.4em;
        cursor: pointer;
    }
}

label {
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 600;
}

select {
    outline: none;
    margin-bottom: 0.1em;
    padding: 0.5em;
    width: 10em;
    border: 2px solid $prim-style-and-title-color;
    border-radius: 2px;
}

select:hover {
    cursor: pointer;
    background-color: $sec-backgr-color;
}

select:focus {
    background-color: $sec-backgr-color;
}

select:valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.valid {
    margin-bottom: 1em;
}

input {
    padding: 0.4em;
    background-color: $prim-button-color;
    border: 2px solid $prim-button-color;
    border-radius: 5px;
    color: $sec-text-color;
    font-weight: 600;
    width: 10em;
}

button {
    background-color: $sec-backgr-color;
    color: $sec-backgr-color;
    text-decoration: none;
    border: none;

    img {
        width: 30px;
        height: 30px;
    }
}

.likeForm {
    padding-left: 32px;
}

.likeFormRemove {
    padding-left: 54.7px;
}

button:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: $prim-backgr-color;
    color: white;
    height: 5.5em;
    width: 100%;
    bottom: 0;
}

ul {
    margin-bottom: 0.5em;
}

nav {
    margin-top: 0.5em;

    ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        li {
            display: flex;
            justify-content: center;
            flex-direction: column;

            a {
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
                align-items: center;
                text-decoration: none;
                color: $prim-style-and-title-color;
                margin-top: 0.2em;


                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 0.2em;
                }
            }
        }
    }
}

section {
    max-width: 100%;
    margin: 1em;
    margin-top: 1em;

    section {
        border: 2px solid $prim-style-and-title-color;
        background-color: $sec-backgr-color;
        border-radius: 5px;
        padding: 0.5em;

        h3 {
            text-align: left;
            font-size: 20px;
            margin-bottom: 0.5em;
            border-bottom: 2px solid $sec-style-color;
        }
    }

    h3 {
        text-align: center;
        font-size: 24px;
        border-bottom: 3px solid $sec-style-color;
        padding-bottom: 0.2em;
    }
}

section.succeslike {
    margin-top: 12em;
}

section.titlesection {
    margin-top: 3.5em;
}

section:last-of-type {
    margin-bottom: 7em;
}

.naarBegin {
    padding: 0.5em;
    background-color: $prim-button-color;
    border: 2px solid $prim-button-color;
    border-radius: 20px;
    color: $sec-text-color;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 7em;
    position: absolute;
    bottom: -100px;
    left: calc(50% - 3.5em);
    transition: 0.2s;  
}

.naarBeginZichtbaar {
    padding: 0.2em;
    background-color: $prim-button-color;
    border: 2px solid $prim-button-color;
    border-radius: 20px;
    color: $sec-text-color;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 7em;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 3.5em);
    transition: 0.2s;
}

p {
    margin-top: 1em;
    text-align: center;
}

p.formError {
    color: red;
    margin-top: 0;
    margin-bottom: 1em;
}
